# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# IDEs
.vscode/
.idea/
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
